.infoBox {
  border: solid 4px;
  border-block-start-color: green;
  border-left-color: green;
  border-block-end-color: #cccc00;
  border-right-color: #cccc00;
  padding-left: 20px;
  height: 260px;
}

.source {
  text-align: center;
}

#news {
  color: green;
}

#fair {
  color: #cccc00;
}
